* {
  font-family: "Courier New", Courier, monospace;
}
.bg {
  background-image: url("Images/Eldermyst.png");
}
.title {
  text-align: center;
  font-size: 90px;
  text-decoration: none;
  margin-top: 50px;
}
.buttons {
  text-decoration: none;
  border: 2px solid black;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 25px;
  margin-left: 535px;
  margin-right: 535px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}
.buttons:hover {
  color: black;
  background-color: white;
}
