* {
  font-size: 20px;
}
body {
  padding: 0px;
  width: 1330px;
  height: 768px;
  margin: auto;
  user-select: none;
}
.sidepanelOpacity {
  opacity: 0;
}
a {
  text-decoration: none;
  color: black;
}
.divMid {
  width: 1000px;
  margin: auto;
}
.divLeftMain {
  background-color: black;
  color: white;
  float: left;
  width: 0px;
  height: 800px;
  margin: auto;
  display: block;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  margin-left: -10px;
  margin-top: -30px;
}
.divRightMain {
  background-color: black;
  color: white;
  float: right;
  width: 0px;
  height: 800px;
  margin: auto;
  display: block;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  margin-left: -10px;
  margin-top: -30px;
}
.divBottomBorder {
  margin-top: 20px;
  border: 2px solid black;
}
.divLeftContent {
  font-size: 20px;
  text-align: center;
  height: 550px;
}
.divRightContent {
  font-size: 20px;
  padding: 15px;
}
.takenQuest {
  font-size: 20px;
  text-align: center;
}
.statsTitle {
  font-size: 20px;
  text-align: center;
}
.heading {
  font-size: 20px;
  text-align: center;
  border-width: 29px;
  padding: 15px;
  margin-top: 30px;
  border: 2px solid black;
}
.contentBorder {
  border: 2px solid black;
  height: 350px;
}
.content {
  text-align: justify;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  height: 300px;
}
.divContent {
  display: inline-block;
  height: 1px;
}
.scene {
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  padding: 20px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.button {
  user-select: none;
  width: 100px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.panelButton {
  user-select: none;
  width: 100px;
  display: block;
  text-align: center;
  border: 2px solid black;
  opacity: 100;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.button:hover {
  color: white;
  background-color: black;
}
.panelButton:hover {
  color: white;
  background-color: black;
}
@media only screen and (max-width: 720px) {
  body {
    width: 720px;
    height: 800px;
    margin: auto;
    user-select: none;
  }
  .divMid {
    width: 400px;
    margin: auto;
  }
  .divLeftMain {
    background-color: black;
    color: white;
    float: left;
    width: 0px;
    height: 900px;
    margin: auto;
    display: block;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    margin-left: -10px;
    margin-top: -30px;
  }
  .divRightMain {
    background-color: black;
    color: white;
    float: right;
    width: 0px;
    height: 900px;
    margin: auto;
    display: block;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    margin-left: -10px;
    margin-top: -30px;
  }
  .content {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    overflow: scroll;
  }
}
